    <%- include("header"); -%>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% for (let i = 0; i < itemList.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= itemList[i] %></p>
        </div>
        <% } %>
        <form action="<%= route %>" method="post">
            <input type="text" name="newItem" placeholder="New Task" autocomplete="off" autofocus>
            <button type="submit" name="button">+</button>
        </form>
    </div>
    
    <%- include("footer"); -%>